.skip-to-main-content-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #ffffff;
    color: #000000;
    text-decoration: underline;
    padding: 8px 16px;
    z-index: 1100;
    transition: top 0.2s;
    border-radius: 0 0 3px 3px;
}

.skip-to-main-content-link:focus {
    top: 0;
    /* Bring it into view when focused. */
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus {
    outline: 3px solid #ffffff;
}

h1,
ul,
li {
    font-family: 'retro cool', 'baskerville', 'poppins', sans-serif;
}

.intro {
    font-family: 'poppins', 'baskerville', sans-serif;
    font-size: 1.8em;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 60px;
    border-bottom: 3px solid #ff0099;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 40px;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 80px;
    margin: 20px 20px 2px 20px;
}

h2 {
    font-size: 75px;
    font-weight: bold;
    font-family: 'retro cool', 'wonderbar', 'poppins', 'baskerville', sans-serif;
    margin: 20px 0;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 15px 0;
    text-align: center;
}

.song1 {
    padding: 30px;
}

h3 {
    font-size: 60px;
    margin: 20px 0;
    border-bottom: 3px solid #ff0099;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 15px 0;
    text-align: center;
}


li {
    font-size: 2em;
}

li.active a {
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #ff0099;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #0000004b;
    background-image: linear-gradient(135deg, #6b50ab 25%, #ff9ada 25%, #c172a4 50%, #a995d9 50%, #a58be2 75%, #de6fb5 75%, #9c6086 100%);
    background-size: 28.28px 28.28px;
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0.75);
    border-bottom: 3px solid #ff0099;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 15px 0;
    text-align: center;
    border-radius: 0px 0px 60px 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px;
}

nav li {
    margin: 0 10px;
}


nav a:hover {
    text-shadow: none;
    color: #ff0099;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.songgallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    background: linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, #999 78%), linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), #444;
    background-size: 16px 48px;
    border-radius: 110px;
    border-style: ridge;
    border-color: #484848;
    background-color: #2229;
}

.songgallery :last-child {
    grid-column-end: span 2;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #515151;
    border-radius: 110px;
    width: 80%;
    /* background: #6b50ab; */
    background-image: url(https://i.pinimg.com/originals/65/78/1d/65781d6ee5b986492d54861b721d672f.jpg);
}

/* The Close Button */
.close-modal {
    color: #ffffff;
    float: right;
    font-size: 60px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


img {
    border: solid 4px #ff0099;
    padding: 10px;
    border-radius: 60px;
    width: 100%;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.15);
    transition: 0.3s;
    border: #ff0099 3px solid;
    box-shadow: rgb(117, 3, 91) 0px 0px 20px;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.footer {
    text-shadow: 2px 2px 0px #8400ff;
    text-align: center;
    background: none;
    padding: 20px;
    border: none;
    box-shadow: none;
}


.lyrics {
    display: block;
    unicode-bidi: isolate;
    white-space: pre;
}

.song1 {
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 3s steps(40);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

p {
    font-family: 'poppins', 'baskerville', sans-serif;
    font-size: 1.5em;
    background: #000000bf;
    border-radius: 60px;
    border-bottom: 3px solid #ff0099;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 40px;
    line-height: 1.5;
    text-align: center;
    box-shadow: #000000 0px 0px 10px;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulsing-container {
    text-align: center;
    margin-top: 50px;
}

.pulsing-text {
    font-size: 66px;
    color: #fff;
    text-shadow: 2px 2px 0px #8400ff;
    animation: pulse 2s infinite;
}

.lyrics {
    p {
        font-family: 'poppins', 'baskerville', sans-serif;
        font-size: 25px;
        background: #000000bf;
        border-radius: 60px;
        border-bottom: 3px solid #ff0099;
        text-shadow: 2px 2px 0px #8400ff;
        padding: 40px;
        line-height: 1.5;
        text-align: left;
    }
}

.gif {
    height: 600px;
}


.word {
    position: relative;
    white-space: nowrap;
    color: white;
    text-shadow: 2px 2px 0px #8400ff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.word::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #ff0099;
    overflow: hidden;
    width: 40%;
    animation: run-text 5s infinite linear;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

@keyframes run-text {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff68;
    color: #000;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px;
    /* Fixed width */
    cursor: pointer;
}

.card:not(.active):hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.549);
}

.card-header {
    padding: 20px;
    background-color: #2d2d2d;
    color: #fff;
    font-size: 1.5em;
    border-radius: 60px;
}

.card-content {
    padding: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.card.active .card-content {
    max-height: 500px;
}

.card img {
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.noteworthyartists {
    font-size: 60px;
    font-weight: bold;
    font-family: 'retro cool', 'wonderbar', 'poppins', 'baskerville', sans-serif;
    margin: 20px 0;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 15px 0;
    text-align: center;
}

.interactive-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    justify-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

h4 {
    font-size: 45px;
    margin: 20px 0;
    border-bottom: 3px solid #ff0099;
    text-shadow: 2px 2px 0px #8400ff;
    padding: 15px 0;
    text-align: center;
}

.scroll-container {
    background: linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, #999 78%), linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), #444;
    background-size: 16px 48px;
    overflow: auto;
    white-space: nowrap;
    padding: 80px;
    border-radius: 60px;
}

.scroll-container img {
    padding: 10px;
    height: 800px;
    width: 800px;
}

.scroll-container img:focus {
    outline: 5px solid rgb(255, 255, 255);
}


@media screen and (min-width: 1280px) {

    .skip-to-main-content-link {
        top: -60px;
    }

    header {
        padding: 20px 0 30px;
    }

    nav ul {
        padding: 10px 0;
    }

    nav li {
        margin: 0 30px;
    }

    .songgallery {
        display: flex;
        justify-content: space-between;
        padding: 50px;
        background: linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, #999 78%), linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), #444;
        background-size: 16px 48px;
        border-radius: 110px;
        border-style: ridge;
        border-color: #484848;
        background-color: #2229;
        overflow: hidden;
    }

    .songgallery a {
        flex: 0 1 30%;
    }

    .songgallery img {
        width: 100%;
    }

    .intro {
        font-size: 30px;
        line-height: 1.8;
    }


    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 50px 100px 50px 100px;
        align-content: center;
        justify-items: center;
    }

    .gif {
        padding: 10px;
        height: 100%;
        width: auto;
    }

    h1 {
        margin: none;
        padding: none;

    }

    .lyrics p {
        text-align: center;
        /* Align text to the center */
        font-family: 'poppins', 'baskerville', sans-serif;
        font-size: 1.5em;
        background: #000000bf;
        border-radius: 60px;
        border-bottom: 3px solid #ff0099;
        text-shadow: 2px 2px 0px #8400ff;
        padding: 40px;
        line-height: 1.5;
        box-shadow: #000000 0px 0px 10px;
    }

    .scroll-container {
        display: flex;
        overflow-x: auto;
        padding: 20px;
        justify-content: space-evenly;
    }

    .scroll-container img {
        max-width: 100%;
        height: auto;
        margin-right: 20px;
        width: 400px;
    }

    /* Ensure the last image doesn't have extra margin */
    .scroll-container img:last-child {
        margin-right: 0;
    }

    .interactive-cards {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 20px;
        justify-items: center;
        justify-content: space-around;
    }
}